# Core python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# EchoTrace specific ignores (Separating non-required files)
.extras/
data/
scripts/
*.json
*.log
.DS_Store

# EchoTrace output files
echotrace_report_*.json

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# builds
build/
dist/
*.egg-info/
